html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--base-font-family);
  font-weight: 400;
  line-height: 1.45;
  color: var(--color-gray-dark);
}

.content {
  display: grid;
  width: 80%; /*give another value*/
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: inherit;
}

h2 {
  margin: 2rem auto;
  font-size: 2.5rem;
  text-align: center;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 1.3rem;
  font-size: inherit;
  font-weight: inherit;
}

input, select {
  -webkit-appearance: none;
  font-family: inherit;
  background: var(--color-white);
}

input:focus {
  outline: none;
}

input[type=text] {
  text-indent: 1rem;
}

input[type=range] {
  background: transparent;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

/*vue-mulitselect overwrite :| */

.vs__search, .vs__search:focus {
  line-height: 2.4!important;
  padding: 0 1rem!important;
}

.vs__actions {
  padding: 4px 16px 0 3px!important;
}




